.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  border-radius: 0;
  box-shadow: var(--ifm-global-shadow-lw);
}

.featureSvg {
  height: 200px;
  width: 200px;
}