/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #008b8b;
  --ifm-color-primary-dark: #007d7d;
  --ifm-color-primary-darker: #007676;
  --ifm-color-primary-darkest: #006161;
  --ifm-color-primary-light: #009999;
  --ifm-color-primary-lighter: #00a0a0;
  --ifm-color-primary-lightest: #00b5b5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #40e0d0;
  --ifm-color-primary-dark: #27dcca;
  --ifm-color-primary-darker: #22d3c1;
  --ifm-color-primary-darkest: #1cad9f;
  --ifm-color-primary-light: #59e4d6;
  --ifm-color-primary-lighter: #65e6d9;
  --ifm-color-primary-lightest: #8aece2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

.greenIcon {
  color: rgb(0, 128, 0);
}

.centering {
  text-align: center;
}

.feature-card {
  border: 1px solid var(--ifm-color-emphasis-300);
}

.feature-card:hover {
  border: 1px solid var(--ifm-color-primary);
}

.connector-card {
  border: 1px solid var(--ifm-color-emphasis-300);
}

.connector-card:hover {
  border: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}

.heroBanner_src-pages-index-module {
  padding: 4rem 0 !important;
}

.hero--background {
  background-image: url('/img/hero-img.jpg');
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Scales the image to cover the entire container */
  background-position: center; /* Centers the image */
  color: #fff;
}

.about-section{
  background-color: var(--ifm-hero-background-color);
  color: var(--ifm-hero-text-color);
  border-radius: 0;
  box-shadow: var(--ifm-global-shadow-lw);
}

.connector-section{
  border-radius: 0;
  box-shadow: var(--ifm-global-shadow-lw);
}

.stream-section{
  border-radius: 0;
  box-shadow: var(--ifm-global-shadow-lw);
}

.join-discord-button {
  color: var(--ifm-button-color) !important;
}

.join-discord-button:hover {
  color: var(--ifm-button-color) !important;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.announcement {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid var(--ifm-color-primary-lightest);
  color: var(--ifm-announcement-text-color);
  border-radius: var(--ifm-button-border-radius);
}

.announcement-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: .4rem;
}

.announcement-link {
	font-size: 2.5rem;
  margin: auto 20px;
}

.text-shine {
  background: linear-gradient(to right, var(--ifm-announcement-text-color) 20%, #ffa908 30%, #ffa908 70%, var(--ifm-announcement-text-color) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}

.announcement-dark {
  --ifm-announcement-background-color: #303846;
  --ifm-announcement-text-color: var(--ifm-color-primary-lightest);
  --ifm-announcement-border-color: #515f76;
}